.star {
  color: #ffffff;
  position: relative;
}
.star::after {
  content: "";
  height: 3.4px;
  width: 80px;
  position: absolute;
  background-color: #ffffff;
  margin-right: 1rem;
  top: 9px;
  left: 30px;
}
.star::before {
  content: "";
  position: absolute;
  height: 3.4px;
  width: 80px;
  top: 9px;
  right: 15px;
  background-color: #fff;
  margin-right: 1rem;
}
